@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)),url('../assets/rod-long-kImU-9S9uh8-unsplash.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    
}

h1 {
    font-family: 'Fraunces', serif;
    font-size: 1rem;
    text-transform: uppercase;
}

h2 {
    font-size: 5rem;
}

p {
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
}

button {
    border: none;
    border-radius: 20px;
    background-color: hsl(19, 91%, 49%);
    color: #fff;
    font-weight: bold;
    padding: 15px;
    text-transform: uppercase;
    width: 10%;
}

.content {
    max-width: 1440px;
    padding: 10px;
}

.navbar {
    min-height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    background: url('../assets/default-monochrome.svg');
    background-repeat: no-repeat;
    width: 100px;
    height: 50px;
}

.nav-menu {
    display: flex;
}

li {
    list-style-type: none;
}

.nav-item {
    color: #fafbfd;
    font-weight: bold;
    padding: 20px;
}

.nav-item:hover {
    color: hsl(35, 77%, 62%);
    text-decoration: underline;
    transition: all 0.45sec ease-in-out;
}

.hero {
    color: hsl(0,0%,100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
} 

.intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 80px;
    padding: 30px;
}

.intro button{
    margin-top: 10px;
    width: 30%;
}

.social-icons{
    display: flex;
    align-self: flex-end;
}

.social-icons .img1 {
    background: url('../assets/icons8-whatsapp.svg');
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 50px;
    background-repeat: no-repeat;
}

.social-icons .img2 {
    background: url('../assets/icons8-instagram.svg');
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 50px;
    background-repeat: no-repeat;
}

.social-icons .img3 {
    background: url('../assets/icons8-facebook.svg');
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 50px;
    background-repeat: no-repeat;
}

.social-icons .img4 {
    background: url('../assets/icons8-twitter.svg');
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 50px;
    background-repeat: no-repeat;
}







